@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/typography.css";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}